* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: aliceblue;
  height: 100vh;
  display: flex;
  align-items: center;
}

.letters {
  width: 220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.6rem;
}

.letter {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
